$nav-buttons-border-color: #cbcbcb
$logo-height: 45px

// Navbar

#navbar
    min-width: $body-min-width
    text-transform: uppercase
    border-bottom: 1px solid #515253

    +media-breakpoint-up(sm)
        padding: 1.5rem 3rem 2rem

        .fp-viewing-what-is-qla &,
        .fp-viewing-benefits &,
        .fp-viewing-technology &
            background-color: rgba(#fff, .3)
            border-color: #D4D4D4

        .fp-viewing-what-you-can-achive &
            $bg: #78AADC

            border-color: $bg
            background-color: rgba($bg, .1)

        .fp-viewing-technology &
            background-color: rgba($body-bg, .8)

        .fp-viewing-features &
            border-color: #3F495A

    +media-breakpoint-down(sm)
        height: $mobile-navbar-height
        padding-top: .5rem
        padding-bottom: 0
        background-color: #fff !important;
        border-color: $nav-buttons-border-color !important

// Logo

=invert-logo()
    img
        margin-top: -$logo-height

#logo
    width: 130px
    height: $logo-height
    overflow: hidden
    margin-bottom: .5rem

    +media-breakpoint-up(sm)
        margin-right: 3rem

    +media-breakpoint-down(sm)
        float: none
        display: inline-block
        margin: 0
        padding: 0

        +invert-logo()

    +media-breakpoint-up(sm)
        .fp-viewing-what-is-qla &,
        .fp-viewing-benefits &,
        .fp-viewing-technology &
            +invert-logo()

// Nav buttons

.nav-buttons
    position: absolute
    width: $mobile-navbar-height;
    height: $mobile-navbar-height;
    margin: 0
    padding: 0
    border: solid $nav-buttons-border-color
    border-width: 0 1px 1px 0
    background-color: #fff
    color: #000

#close-button
    @extend .nav-buttons
    right: -$mobile-navbar-height
    font-size: 4rem

#menu-button
    @extend .nav-buttons
    left: 0
    top: 0
    font-size: 2rem


// Menu

#menu
    font-weight: 500

    li
        &.active, &.preactive, &:hover
            a
                position: relative

                &:before
                    content: ''
                    position: absolute
                    bottom: 0
                    border-bottom: 2px solid $link-color
                    width: 1.5rem

                &:hover:before
                    border-color: $link-hover-color

    +media-breakpoint-up(md)
        float: left
        margin-top: .75rem

        .fp-viewing-what-is-qla &,
        .fp-viewing-benefits &,
        .fp-viewing-technology &
            li
                a
                    color: $invert-link-color

                &:hover
                    a
                        color: $invert-link-hover-color

                &.active, &.preactive, &:hover
                    a
                        &:before
                            border-color: $invert-link-color

                        &:hover:before
                            border-color: $invert-link-hover-color

    +media-breakpoint-up(lg)
        li
            margin-right: 1rem

    +media-breakpoint-down(sm)
        margin-bottom: 2rem

        li
            float: none
            padding: 1rem
            border-bottom: 1px solid $sidebar-border-color


// Buttons in menu

#buttons
    margin-top: .75rem

    +media-breakpoint-up(md)
        float: right

    +media-breakpoint-down(md)
        .btn
            margin-bottom: 1rem

        +media-breakpoint-up(md)
            .fp-viewing-what-is-qla &,
            .fp-viewing-benefits &,
            .fp-viewing-technology &
                color: $invert-link-color
                border-color: $invert-link-color

                &:hover, &:active, &:focus
                    background: none
                    color: $invert-link-hover-color;
                    border-color: $invert-link-hover-color;

        .icon-email
            font-size: 2rem
            color: $invert-link-color