.collapse
    position: relative

    &.in
        position: fixed
        top: 0
        bottom: 0
        z-index: 1100

        &.navigation
            left: 0
            width: 290px
            background-color: $sidebar-bg

        =close($top, $right, $color)
            position: absolute
            top: $top
            right: $right
            font-size: 4.5rem
            color: $color
            opacity: 1

        &.sidebar
            right: 0
            min-width: 290px
            max-width: 600px
            padding: 6.3rem 1.75rem 1.75rem
            background-color: $sidebar-bg-light
            overflow-y: scroll

            .close
                +close(.25rem, .25rem, #262626)

        &.modal
            padding: 6rem 0;

            .close
                +close(1.5rem, 1.5rem, #fff)

#contact-sidebar
    .container-fluid
        font-size: 1.5rem
        text-align: center

        a
            color: $invert-link-color