$body-bg:                   #f3f3f3;
$body-color:                #4a4a4a;
$invert-body-color:         #fff;
$body-min-width:            360px;

$font-size-root:            14px;
$font-weight-root:          300;
$font-family-sans-serif:    Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-success:             #42b964;
$brand-danger:              #e78061;
$brand-info:                #30c0ff;

$btn-primary-color:         #2c65a1;
$btn-secondary-color:       #eee;
$btn-info-color:            #eee;

$headings-color:            #393939;
$headings-line-height:      1.5;

$link-color:                #fff;
$invert-link-color:         #656565;
$invert-link-hover-color:   #888;

$brand-primary:             #fff;
$brand-primary-hover:       #ccc;

$primary-cover:             rgba(37, 37, 37, .83);
$secondary-cover:           rgba(8, 26, 55, .77);

$sidebar-bg:                #212121;
$sidebar-bg-light:          #fbfbfb;
$sidebar-border-color:      #363636;

$navbar-height:             9rem
$mobile-navbar-height:      4.5rem

$col-space:                 .9375rem